/*:root {
  --body-font: 'Montserrat', sans-serif;

  --very-light-grayish-blue: hsl(240, 78%, 98%);
  --light-grayish-blue: hsl(234, 14%, 74%);
  --grayish-blue: hsl(233, 13%, 49%);
  --dark-grayish-blue: hsl(232, 13%, 33%);
  --linear-gradient-start: hsl(236, 72%, 79%);
  --linear-gradient-end: hsl(237, 63%, 64%);
};*/
body {
  background-color: hsl(240, 78%, 98%);
  background-image: url('./images/bg-top.svg'), url('./images/bg-bottom.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: top right, left bottom;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.container {
  width: 70%;
  margin: 0 auto;
}

.title-part {
  text-align: center;

  margin: 5em 0 3em 0;
}
.title {
  margin-top: 0;
  opacity: 0.6;
  font-size: 32px;
}
.sm-title {
  opacity: 0.5;
}
.cards {
  display: flex;
}
.card {
  padding: 1.5em 3em;
  text-align: center;
}
hr {
  opacity: 0.8;
  margin: 0;
  color: grey;
}
.card-name {
  opacity: 0.5;
}
.card-price {
  font-size: 64px;
  display: flex;
  align-items: center;
  margin: 0.3em 0;
}
.sm-dollar {
  font-size: 40px;
  margin-right: 0.25em;
}
.card p {
  opacity: 0.7;
}
.white-card {
  background-color: white;
  height: 390px;
  margin: auto 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.white-card button {
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  padding: 0.8em 0;
  border: none;
  border-radius: 0.5em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 2em;
}

.white-card button:hover {
  border: 1px solid hsl(237, 63%, 64%);
  color: hsl(237, 63%, 64%);
  background: none;
}

.blue-card {
  background-color: hsl(236deg 69% 72%);
  color: white;
  border-radius: 1em;
  height: 430px;
}
.blue-card .card-name {
  margin-top: 2.2em;
}
.blue-card button {
  background-color: white;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  padding: 0.8em 0;
  border: none;
  border-radius: 0.5em;
  color: hsl(237, 63%, 64%);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 2em;
}
.blue-card button:hover {
  border: white 1px solid;
  color: white;
  background: hsl(236deg 69% 72%);
}
.left-card {
  border-radius: 1em 0 0 1em;
}
.right-card {
  border-radius: 0 1em 1em 0;
}
